* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
	text-align: center;
	font-weight: 700;
	
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-bottom: 20px;
	
}

main {
	display: grid;
	grid-template-columns: 1fr 200px;
	gap: 20px 70px;


}

h2 {
	color: navy;
	grid-column: 1/3;
	justify-self: start;
}


article p {
	text-align: justify;

}
section {
	padding: 10px;
}
h3 {
	margin-bottom: 15px;
}
.callout {
	color: #fff;
	background-color: rgb(26, 26, 67);
  padding: 10px 15px;
	grid-column: 1/3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}
footer {
	text-align: left;
	font-size: 15px;
	font-weight: 700;
	
}
