* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
}
img {
  width: 100%;
}
main{
  width: 800px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding: 10px;

}
header {
  display: flex;
  justify-content: space-between;
	align-items: center;
  background-color: #170F11;
  color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  
}
header p {
  font-weight: 700;
  font-size: 15px;
}
footer {
  background-color: #170F11;
  text-align: center;
  color: #fff;
  padding: 5px;
  font-size: 10px;
}
footer p {
  padding: 5px;
}
#menu {
	background: none;
	border: none;
	font-size: 40px;
	color: #fff;
}

@media screen and (min-width: 800px) {
  #menu {
    display: none; 
  }
}

a {
  text-decoration: none;
  color: #fff;
}
.temple-container {
	max-width: 799px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	padding: 10px;

}


.temple-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 15px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
  display: inline-block; /* or use flex/grid for better layout */
}

.temple-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.navigation {
	display: none;
	flex-direction: column;
	gap: 10px;
	
}
nav {
  display: flex;
}
.navigation.open {
	display: flex;
}
.navigation a {

	text-decoration: none;
}
.navigation a:hover,
.navigation a:active {
	color: #2274A5;
	background-color: #fff;
	padding: 5px;
}
@media screen and (min-width: 800px)  {
	.navigation {
		display: flex;
		flex-direction: row;

	}
}

