* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#course-title, footer {
  display: block;
  font-size: 20px;
  text-align: center;
  background-color: #513B56;
  color: #fff;
  padding: 10px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #525174;
  font-size: 20px;
  
}
header a {
  color: #fff;  
  text-decoration: none;
  padding: 5px;
  
}
nav a:hover {
  text-decoration: underline;
}
main {
  margin: 0 auto;
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 10px;
  
}
.my-photo {
  width: 200px;
  margin-right: 15px;
}
h1 {
  grid-column: 1/3;
  text-align: center;
  font-size: 40px;
  padding: 10px;
}
h2 {
  background-color: #348AA7;
  text-align: center;
  margin-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}
.about-content, .country-content {
  display: flex;
  gap: 20px;
 
}
.about-content p {
  padding: 10px;
  margin-left: 10px;
  font-family: "Baskervville";
  line-height: 25px;
}
.card {
  border: 1px solid rgb(214, 209, 209);
  border-top: none;
  border-radius: 5px;
  
}
h3 {
  margin-left: 150px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h3::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgb(168, 162, 162);
  left: -130px;
  right: 100px;
  bottom: 0;
  
}
.country-content {
  flex-direction: row-reverse;
  margin-bottom: 20px;
}
.country-content img {
  width: 150px;
  height: 100px;
  margin-left: 20px;
}
.country-content p {
  padding: 10px;
  margin-right: 30px;
  font-family: "Baskervville";
  line-height: 25px;
}
.country-content figcaption {
  text-align: center;
  padding: 10px;
}
footer {
  margin-top: 20px;
}
h4 {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h4::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgb(168, 162, 162);
  left: 20px;
  right: 20px;
  bottom: 0;
}
nav {
  margin-left: 30px;
}
a {
  font-family: "Baskervville";
  line-height: 35px;
  
  
}
img {
  margin-left: 20px;
  margin-top: 30px;
  width: 250px;
}
