
:root {
  --header-color: black;
  --primary-color: white;
  --secondary-color: beige;
  --heading-font: "Roboto", sans-serif; 
  --text-font: "Baskervville", Arial;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--text-font);
  background-color: var(--header-color);
}
main {
  position: relative;
}
header h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--primary-color);
  background-color: var(--header-color);
  text-align: center;
  padding: 1rem;
}
h2 {
  padding: 1rem;
  font-family: var(--heading-font);
  font-size: 1.5rem;
}
section {
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
}
footer {
  text-align: center;
  font-family: var(--heading-font);
  color: var(--primary-color);
  background-color: var(--header-color);
  padding: 0.5rem;
  font-size: 1rem;
}
img {
  width: 100%;
  height: auto;
}
.data-container p,
.weather-container p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.data-container strong,
.weather-container strong {
  text-align: right;
  padding: 5px;

}
.data-container p span,
.weather-container p span {
  text-align: left;
  padding: 5px;
}
.data-container,
.weather-container {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  margin: 5px 0;
}
.weather-container h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  background: url("../images/weather.svg") no-repeat center;
  background-size: contain;
}
@media screen and (min-width: 700px) {
  .data-container,
  .weather-container {
    position: absolute;
    top: 120px;
    width: 300px;
  }
   .data-container {
    left: 30px;
  }
  .weather-container {
    right: 30px;
  }
  .weather-container h2::after {
    content: "⛅";
    margin-left: 8px;
  }

}


