* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid lightgray;
  padding: 10px;
  background-color: rgba(104, 128, 214, 0.947);
 
}
h2 {
  margin-bottom: 10px;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  
}
section {
  background-color: #ffffff;
  padding: 10px;
}
footer {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
header {
  text-align: center;
}